<!-- event_detail.html -->
{% extends 'base.html' %}

{% block title %}Event Details{% endblock title %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-primary text-center mb-4">{{ event.title }}</h2>
    
    <div class="card shadow-sm mb-4">
        <img src="{{ event.photo_url|default:'https://source.unsplash.com/1600x900/?event' }}" class="card-img-top" alt="{{ event.title }}">
    </div>
    
    <div class="card-body">
        <p><strong>Date:</strong> {{ event.start_time }}</p>
        <p><strong>Location:</strong> {{ event.location|default:'TBA' }}</p>
        {% if event.organizer %}
            <p><strong>Organizer:</strong> {{ event.organizer }}</p>
        {% endif %}
        {% if event.description %}
            <p><strong>About:</strong> {{ event.description }}</p>
        {% else %}
            <p><strong>About:</strong> Information not available.</p>
        {% endif %}
        <p><strong>Event UID:</strong> {{ event.id }}</p>
    </div>

    <div class="text-center mt-4">
        <a href="{{ event.localist_url|default:event.google_url }}" target="_blank" class="btn btn-primary">More Details</a>
    </div>
</div>
{% endblock body %}
