<!DOCTYPE html>
<html>
<head>
    <title>Sign In | Circle</title>
     {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <div class="form sign-in">
        <h2>Sign In</h2>
        <form method="POST" action="login">
            {% csrf_token %}
            <label>
                <span>Username</span>
                <input type="text" name="username">
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password">
            </label>
            <button class="submit btn btn-primary" type="submit">Sign In</button>
        </form>
        <p class="forgot-pass">Forgot Password?</p>
        <p>Don't have an account?</p>
        <a href="{% url 'signup' %}" class="btn btn-secondary">Sign Up</a>
    </div>
</div>
</body>
</html>
